
body {
    margin: 0;
}
.list{
    color:dimgray;
    font-size: 9px;
    width: 100%;
    text-align: center;
}
.much{
    width: 100%;
    text-align: center;
    color:darkgray;
    font-size: 10px;
    font-weight:bold;
}
.header-icon {
    font-size: 25px;
    color: coral;
}