
/*字体*/
@font-face{
    font-family: 'pmzd';
    src:url('../font/pangmenzhengdao.ttf');}
@font-face{
    font-family: 'DS-DIGI';
    src:url('../font/DS-DIGI.ttf');}

body {
    margin: 0;
    font-family: "微软雅黑","Microsoft YaHei", Arial, sans-serif;
}
.list{
    color:dimgray;
    font-size: 9px;
    width: 100%;
    text-align: center;
}
.much{
    width: 100%;
    text-align: center;
    color:darkgray;
    font-size: 10px;
    font-weight:bold;
}
.header-icon {
    font-size: 25px;
    color: coral;
}
.details_dialog{
    width:300px;
    height: 500px;
    text-align: center;
}